<!DOCTYPE html>
<html>
<head>
  <title>Save the Zebras</title>
  <link type="text/css" rel="stylesheet" href="styles/index.css" />
</head>
{{{body}}}
<body>
<ul>
  <li><a href="/">Add Repair</a></li>
  <li><a href="list">Fixed Printer List</a></li>
  <li><a href="news">News</a></li>
  <li><a id="navSelected" href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  <li><a href="join">Want to join? Add User!</a></li>
</ul>
<h3 style="margin-left: 20px;">Slack me at szampiam or email szampiam@amazon.com.</h3>

</body>
</html>
