<!DOCTYPE html>
<html>
<head>
  <title>Save the Zebras</title>
  <link type="text/css" rel="stylesheet" href="styles/index.css" />
</head>
<body>
{{{body}}}
<ul>
  <li><a id="navSelected" href="/">Add Repair</a></li>
  <li><a href="list">Fixed Printer List</a></li>
  <li><a href="news">News</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  <li><a href="join">Want to join? Add User!</a></li>
</ul>
<br /><br />
<h2>Add Printer Repair Below</h2>
<form action="/submit-repair" method="POST">
  <label for="serialNumberId">Serial Number</label>
  <input type="text" id="serialNumberId" name="serialNumberId" required />
  <br />
  <label for="userId">User ID:</label>
	<select id="userId" name="userId">
	  <option value="szampiam">szampiam</option>
	  <option value="mtjere">mtjere</option>
	</select>
  <br />
      <label for="printerType">Printer Type:</label>
	<select id="printerType" name="printerType" required>
	  <option value=""></option>
	  <option value="ZT411">ZT411 SLAM Printer</option>
	  <option value="ASINPSlip">ASIN PSlip</option>
	  <option value="hpPrinter">HP Printer</option>
	</select>
	<br />
    <label for="partNameNeeded">Part Name Needed:</label>
	<select id="partNameNeeded" name="partNameNeeded" required>
	  <option value=""></option>
	  <option value="printroller">Print Roller (+45$)</option>
	  <option value="mediarewindspindle">Media Rewind Spindle (+300$)</option>
	  <option value="nopartneeded">No Part Needed (FREE)</option>
	</select>
	<br />
	<label for="printerLocation">Printer Location:</label>
	<select id="printerLocation" name="printerLocation" onchange="myFunction(event)" required>
	  <option value=""></option>
	  <option value="itCage">IT Cage</option>
	  <option value="singlesMixKickout">Singles-Mix-Kickout</option>
	  <option value="afe2">AFE2</option>
	  <option value="afe1">AFE1</option>
	  <option value="jackpot">Jackpot</option>
	  <option value="upperMezz">Upper Mezz</option>
	  <option value="poleNumber">Pole Number</option>
	  <option value="securityDesk">Security Desk</option>
	</select>
	<label for="stationNumber">Station Number:</label>
	<input type="input" disabled name="stationNumber" id="stationNumber" />
	<br />
  <label for="issue">Issue:</label>
	<select id="issue" name="issue">
	  <option value=""></option>
	  <option value="brokenPart">Broken Part</option>
	  <option value="dirtyRoller">Dirty Roller</option>
	  <option value="dirtyRoller">Calibration Issue</option>
	  <option value="dirtyRoller">Configuration Issue</option>
	  <option value="dirtyRoller">Incorrect Printer Paper Inserted</option>
	  <option value="multipleIssues">Multiple Issues</option>
	</select>
	<br />
	<label for="assistBy">Assisted By (optional)</label>
	<input type="text" id="assistBy" name="assistBy" />
  <button type="submit">Submit</button>
</form>
	<script type="text/javascript">
	function myFunction(e) {
	if (e.target.value != "itCage" && e.target.value != "" && e.target.value != "securityDesk") {
		document.getElementById('stationNumber').disabled = false;
	} else {
		document.getElementById('stationNumber').disabled = true;
	}
	console.log(e.target.value);
	}
	
	</script>


</body>
</html>