<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Save the Zebras</title>
  <link type="text/css" rel="stylesheet" href="styles/index.css" />
</head>
<body>
{{{body}}}
<ul>
  <li><a href="/">Add Repair</a></li>
  <li><a id="navSelected" href="list">Fixed Printer List</a></li>
  <li><a href="news">News</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  <li><a href="join">Want to join? Add User!</a></li>
</ul>
<h3>Table to be added here</h3>
{{{rows}}}

</body>
</html>