<!DOCTYPE html>
<html>
<head>
  <title>Save the Zebras</title>
  <link type="text/css" rel="stylesheet" href="styles/index.css" />
  <link rel="shortcut icon" href="favicon.ico" type="styles/favicon.ico"/>
</head>
<body>
  {{{body}}}
<ul>
  <li><a href="/">Add Repair</a></li>
  <li><a href="list">Fixed Printer List</a></li>
  <li><a id="navSelected" href="news">News</a></li>
  <li><a href="contact">Contact</a></li>
  <li><a href="about">About</a></li>
  <li><a href="join">Want to join? Add User!</a></li>
</ul>
<h3>12-13-2025: Jeremy and Amanda talk about issues of repair tracking, saving money, and tracking trends with data.</h3>
<h3>12-15-2025: Project Started.</h3>

</body>
</html>
