<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, 
        initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="refresh" content="4; url=/">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css" />
    <link href=
"https://fonts.googleapis.com/css2?family=Poppins&display=swap"
        rel="stylesheet" />
		<style>
		
				body {
      background-image: linear-gradient(120deg, 
                                      #9de7fa 0%, 
									  #A7BFE8 100%);
                                    /*#f89fba 100%);*/
	  /*background-color: #def;*/
      color: black;
      font-family: "Poppins", sans-serif;
     min-height: 100vh;
}

.btn-primary {
      color: #fff;
      background-color: #f89fba;
      border-color: #f89fba;
}
.containerFormSubmittedMessage {
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
      align-items: center;
      height: 200px;
      border: 3px solid #343a40;
}
		
		
		
		</style>
        <title>Save the Zebras</title>
</head>
<body>
<br />
    <div class="containerFormSubmittedMessage w-75">
        <h1>Form Submitted Successfully!</h1>
		<p>User has been created. Redirecting...<p>

    </div>
</body>
</html>